
<div id="fronttext">
	<h3>Two hashtags, but only one can win.<br/>
	<%= link_to new_battle_path do %><span class="warm">Create</span><% end%> your own battle, or <br/><span class="warm">select</span> a battle below to see the action.</h3>
</div>

<div id="selectbattle">
	<select id="battle_select">
        <option disabled selected class="hidden-option">Choose a Battle</option>
        <% @battles.each do |battle| %>
        	<option value="<%=battle.id%>"><%=battle.hashtag1%> vs. <%=battle.hashtag2%></option>
        <% end %>
      </select>
</div>
      