<%- model_class = Battle -%>
  <h1>Create Battle</h1>
<h3><span class="warm">Create</span> a hashtag battle.  <span class="warm">Enter</span> two hashtags below</h3>
<br/>
<%= render :partial => 'form' %>
